<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241856329181-ueslbbau5m2iiusdknk41li3ctck2md5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241856329181-ueslbbau5m2iiusdknk41li3ctck2md5</string>
	<key>API_KEY</key>
	<string>AIzaSyANFelRmPYmecFTlxxcC8SKpdupTi5vhvE</string>
	<key>GCM_SENDER_ID</key>
	<string>241856329181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akademiEtkinlik</string>
	<key>PROJECT_ID</key>
	<string>akademi-etkinlik</string>
	<key>STORAGE_BUCKET</key>
	<string>akademi-etkinlik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241856329181:ios:34b483bfdd8c2746bbb234</string>
</dict>
</plist>